/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  font-family: 'Source Serif Pro', sans-serif;
}

.navbar{
    background-color: rgba(255,255,255,0.0);
    transition: background-color .5s ease 0s;
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
  /*  height: 60px;
    border-bottom: 0px;
    */
}
.nav-link {
  color: white;
}

.jumbotron {
  /*background-color: white;*/
  background: url(../img/bg1.jpg) no-repeat center center;
  background-size: 100% 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  height: calc(100%);
}

.jumbotron.career {
  background-color: lightgray;
  margin: 5rem 0;
}

.btn-primary {
  background-color: #203147;
  border-color: #203147;
}

.introduction {
  font-size: 1.5em;
  color: white;
}

div.section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.logo {
  height: 4rem;
  min-height: 2rem;
}

.features {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.feature {
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  background-color: #203147;
  min-height: 2rem;
  width: 100%;
}

p.copyright {
  color: white;
  line-height: 2rem;
  min-height: 2rem;
  padding: 0.5rem 0;
  margin: 0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}