/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@import url(font.css);

body {
  color: #5a5a5a;
  font-family: 'Source Serif Pro', sans-serif;
}

.navbar{
  background-color: rgba(32, 49, 71, 1);
  /*background-color: rgba(255,255,255,0.0);*/
  /*transition: background-color .5s ease 0s;*/
  font-weight: bold;
}
/*
.navbar:hover {
  background-color: rgba(255,255,255,0.25);
}
*/
.nav-item {
  padding:0 0.5rem;
}
.nav-item.active a {
  color: grey;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: white;
  text-decoration: underline;
}

.jumbotron {
  /*background-color: white;*/
  background: url(../img/bg1.jpg) no-repeat center center;
  background-size: 100% 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  height: calc(100%);
}

.jumbotron.career {
  background-color: lightgray;
  margin: 5rem 0;
}

.btn-primary {
  background-color: #203147;
  border-color: #203147;
}

.introduction-container {
  text-align: center;
}

p.introduction {
  font-size: 1.5em;
  color: white;
}

h1.introduction {
  color: white;
}

div.section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.logo {
  height: 4rem;
  min-height: 2rem;
}

.features {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.feature {
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  background-color: #203147;
  min-height: 2rem;
  width: 100%;
}

p.copyright {
  color: white;
  line-height: 2rem;
  min-height: 2rem;
  padding: 0.5rem 0;
  margin: 0;
}

hr {
  color: white;
}

.mail-link {
  color: white;
}

.mail-link:hover {
  color: white;
}

.mail-link:after {
  color: white;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* ========================================= */
/* Screen Template By Bootstrapious.com      */
/* ========================================= */
html {
  height: 100%;
}
body {
  height: 100%;
}
.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.italic {
  font-style: italic;
}
.main {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section-gray {
  background: #eeeeee;
}
@media (max-width: 991px) {
  .section-gray {
    background: #eeeeee;
  }
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  z-index: 2;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.heading {
  text-align: center;
  margin-bottom: 40px;
}
.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 1px;
  margin: 20px auto 20px;
  background: #4fbfa8;
}
h4.heading {
  margin-bottom: 20px;
}
h4.heading:after {
  margin: 10px auto 20px;
  background: #4fbfa8;
}
.img-responsive {
  margin: 0 auto;
}
.box {
  margin-bottom: 30px;
}
.content {
  text-align: left;
  position: relative;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 3;
}
@media (max-width: 1000px) {
  .content {
    position: relative;
    padding: 80px 0;
    top: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.services .box {
  margin-bottom: 20px;
  text-align: center;
}
.services .icon {
  width: 40px;
  height: 40px;
  border: solid 1px #555555;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
}
.contact-form {
  margin-bottom: 40px;
}
p.social {
  text-align: center;
  margin-top: 20px;
}
p.social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: bottom;
}
p.social a i {
  vertical-align: bottom;
  line-height: 26px;
}
p.social a.facebook {
  background-color: #4460ae;
}
p.social a.gplus {
  background-color: #c21f25;
}
p.social a.twitter {
  background-color: #3cf;
}
p.social a.instagram {
  background-color: #cd4378;
}
p.social a.email {
  background-color: #4a7f45;
}
.copyright {
  margin-top: 40px;
  color: #999999;
  font-style: italic;
}
.copyright p.credit {
  text-align: right;
}
.copyright p.credit a {
  color: #999999;
}
@media (max-width: 991px) {
  .copyright p.credit {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .copyright {
    margin-top: 60px;
  }
}
@media (max-width: 991px) {
  .copyright {
    text-align: center !important;
  }
}
.page {
  text-align: center;
  color: #fff;
}
.page h1,
.page h2,
.page h3 {
  color: #fff;
}
.page p {
  font-size: 20px;
}
.page .icon {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: solid 2px #fff;
  border-radius: 20px;
  z-index: 3;
}
#company-page1 {
  background: url('../img/company1.jpg') center center no-repeat;
  background-size: cover;
}

#company-page2 {
  background: url('../img/company2.jpg') center center no-repeat;
  background-size: cover;
}

#business-page1 {
  background: url('../img/business1.jpg') center center no-repeat;
  background-size: cover;
}

#business-page2 {
  background: url('../img/business2.jpg') center center no-repeat;
  background-size: cover;
}

#business-page3 {
  background: url('../img/business3.jpg') center center no-repeat;
  background-size: cover;
}

#career-page1 {
  background: url('../img/career.jpg') center center no-repeat;
  background-size: cover;
}

#contact-page1 {
  background: url('../img/contact.jpg') center center no-repeat;
  background-size: cover;
}

body.disabled-onepage-scroll .onepage-wrapper section {
  min-height: 100%;
  height: auto;
}

.joinus {
  text-align: right;
}

.joinus a {
  color: white;
  text-decoration: underline;
}

.business-list {
  padding-bottom: 0.5rem;
}

.contact-email {
  padding-left: 1.3rem;
  list-style-type: none;
}

.contact-email:before {
  content: "\f003"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3rem; 
  width: 1.3em; 
}

.contact-address {
  padding-left: 1.3rem;
  list-style-type: none;
}

.contact-address:before {
  content: "\f041"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3rem; 
  width: 1.3em; 
}