/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 0rem;
  color: #5a5a5a;
  font-family: 'Source Serif Pro', sans-serif;
}

.jumbotron {
  background-color: white;
}

.jumbotron.career {
  background-color: lightgray;
  margin: 5rem 0;
}

.introduction {
  font-size: 1.5em;
}

div.section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.featurette {
  margin-bottom: 5rem;
}

.featurette-divider {
  margin-bottom: 5rem; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/*
p.copyright {
  margin: 
}
*/

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}